@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, explicabo eligendi quasi quam, esse sequi provident, fugiat nobis pariatur magni atque excepturi? Veritatis quis error repellat libero sint voluptates temporibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam ex delectus dolorem voluptate corporis voluptatum quos culpa numquam voluptatibus, quasi officia fuga rem dolore voluptatem velit ducimus natus incidunt voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et fugit id odio voluptate, debitis minima tempora rerum deserunt at aliquam numquam nesciunt aperiam natus itaque nisi sapiente asperiores voluptates. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim dolore ipsa impedit id qui quaerat quidem facere, deserunt magnam eveniet quasi. Voluptatem consectetur, nesciunt sequi eius et porro officia exercitationem.</p>
